<div class="product-swatch">
  <div class="swatch-flex">
    {% for value in product.metafields.Product.Product %}
    <div class="swatch-grid">
      {% assign active_product = '' %}
      {% if all_products[value].id == product.id %}
        {% assign active_product = 'active' %}
      {% endif %}
      <a href="{{value}}" >
        <div class="{{ active_product }} product-outer">
          <div class="color-swatch" style="background: {{ product.metafields.Color.Color[forloop.index0] }};">
            <span></span>
          </div>
        </div>
      </a>
      
    </div>
    {% endfor %}
  </div>
</div>
