.color-swatch {
    height: 40px;
    width: 40px;
    background: red;
}

.swatch-flex {
    display: flex;
    gap: 10px;
}

.product-outer {
    padding: 5px;
    border: solid 1px #fff;
}

.active.product-outer {
    padding: 5px;
    border: solid 1px #000;
}